ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 24px;
  }

  .avatar-ctn{
    display:flex;
    justify-content:center;
    margin-top: 16px;
    width: 100%;;
  }