<app-header [title]="title" [enableBackButton]="enableBackButton"></app-header>
<div class="spacer"></div>
<ion-content [fullscreen]="true">
  
    <ion-toolbar>
      <ion-title size="large" color="primary">ENTER BUSINESS DETAILS</ion-title>
    </ion-toolbar>
    
    <ion-list>

      <ion-item class="customIonItem">
        <ion-label position="stacked">Contact Name*</ion-label>
        <ion-input class="customIonInput"
        type="text" 
        ion-input 
        [(ngModel)]="business.contact_name" 
        required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Business Name*</ion-label>
        <ion-input type="text" ion-input [(ngModel)]="business.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Business Description*</ion-label>
        <ion-textarea [(ngModel)]="business.description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Business Phone*</ion-label>
        <ion-input type="number" ion-input [(ngModel)]="business.phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Business Email*</ion-label>
        <ion-input type="email" ion-input [(ngModel)]="business.email"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="stacked">Business Category*</ion-label>
        <ion-select [(ngModel)]="business.category" placeholder="Select Category" required>
          <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Business Location*</ion-label>
        <app-google-places-autocomplete  (createMarker)="handleNewMarker($event)" style="width: 100%"/>
      </ion-item>
 
      <ion-item *ngIf="formatted_address"> 
        {{formatted_address}}
      </ion-item>

      

      <ion-item>
        <ion-label position="stacked">Business Website</ion-label>
        <ion-input type="email" ion-input [(ngModel)]="business.website"></ion-input>
      </ion-item> -->

      <ion-item lines="none">
          <div class="spacer"></div>
          <ion-button  (click)="goToNext()" expand="full" shape="round" slot="end">Next</ion-button>
     
      </ion-item>
        
     
    </ion-list>

    
  
  
</ion-content>
