<ion-content class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Profile Picture</ion-label>
      <input type="file" (change)="onFileChange($event)" />
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!profileForm.valid">Submit</ion-button>
  </form>
</ion-content>