<!-- <ion-card>

    <ion-card-header>
      <ion-card-title>Your Booked Deal</ion-card-title>
      <ion-card-subtitle>Romaros</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Some information about your current deal
    </ion-card-content>
    <ion-buttons >
        <ion-button>See more details</ion-button>
    </ion-buttons>


  </ion-card> -->


    <!--  -->
    <div class="deal-ctn">
      <h2>Your Booked Deal</h2>
      <div class="title-line">
        <h4>Romaros</h4>
        <h6 class="timesOutIn">Times Out In : {{timeLeft}} mins</h6>
      </div>
      
      <p> wee wjvlw re vjwrjvlewrj vlkwvjlkrvjelkjv ljrekv lervj</p>
    </div>
    
  
    <!-- <ion-buttons slot="end">
      <ion-button>See more...</ion-button>
    </ion-buttons> -->
  
    
   
  <!-- <ion-item>
    <ion-title>Filter Results</ion-title>
  </ion-item> -->
  
