ion-card {
    margin: 16px;
  }
  
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 18px;
    color: gray;
  }
  
  ion-item {
    --padding-start: 0;
  }
  
  ion-text p {
    font-size: 14px;
  }