ion-item {
    font-size: .8rem;
    margin: 0px;
    padding-bottom:0px;
  }

ion-input {
    font-size: .8rem;
    margin: 0px;
  }

  ion-select{
    font-size: .8rem;
    margin: 0px;
    stroke: inherit;
    width: 95vw;
  }