.google-places-autocomplete-container{
    padding-top:10px;
    width: 100%;

    input{
        background: transparent;
        border:none;
        width: 90vw;
        border-left: 1px solid lightgrey;
        font-size:.8rem
    }

    input:focus{
        outline: none;
        border:none;
        border-right: 16px solid greenyellow
    }

}

.item-native{
    padding-left:0px;
}