
<app-menu 
[menuItems]="customerMenuItems" 
[business]="false"
[menuid]="'firstMenu'"></app-menu>

<div class="ion-page" id="main-content">
  <app-header [title]="title" [business]="false" [enableBackButton]="false"></app-header>

  <ion-content class="ion-padding"> 
    <div id="container">
      <div class="searchBarCtn" *ngIf="true">
        <!-- <app-google-places-autocomplete></app-google-places-autocomplete> -->
         <div class="search"></div>
         <div class="searchButtons"></div>
      </div>
       
      <app-map (navigateTo)="navigateToCustomerFacing($event)"></app-map>  
      
    </div>
   
      <div class="footer" (click)="openModal()" >
        <ion-item color="primary" lines="none" class="ion-no-padding">
          <div class="center-icon-item">
            <ion-icon name="filter-outline" class="center-icon"></ion-icon>
          </div>
        </ion-item>
      </div>
  
    
  </ion-content>
  
</div>
